<nav>
  <!-- Other navigation links... -->
  
  <div class="account-links">
    <% if (locals.loggedin) { %>
      <!-- Show when logged in -->
      <a href="/account/" class="welcome-link">
        Welcome <%= locals.account_firstname || locals.accountData?.account_firstname %>
      </a>
      <a href="/account/logout">Logout</a>
    <% } else { %>
      <!-- Show when NOT logged in -->
      <a href="/account/login">My Account</a>
    <% } %>
  </div>
</nav>