<!-- views/account/management.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title}) %>
</head>
<body>
    <!-- FIXED: Pass all required variables to header -->
    <%- include('../partials/header', { 
        nav, 
        loggedin, 
        accountData 
    }) %>
    
    <main class="container">
        <h1>Account Management</h1>
        <!-- Rest of your management.ejs content -->
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>