<header>
  <h1>CSE Motors</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/custom">Custom</a>
    <a href="/classification/Sedan">Sedan</a>
    <a href="/classification/SUV">SUV</a>
    <a href="/classification/Truck">Truck</a>
  </nav>
</header>
